@media screen and (max-width: 800px) {
    .cont{
        flex-direction: column;
    }
	.second{
		margin: 3%;
	}
}
.img-cont{
	margin: 4% 3%;
	padding: 0%;
}

.cont {
    display: flex;
    margin: 0% 6%;
    /* border-radius: 15px;
    box-shadow: -5px 20px 80px 10px rgba(102, 138, 165, 0.24); */
}

.img {
    width: 100%;
    height: 100%;
	border-radius: 1%;
}
.second {
	width: 100%;
	padding: 4% 0%;
    text-align: left;
}
.second > *{
    margin-bottom: 5%;
}

.info li{
    cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
}
.info li *{
    width: 20;
    height: 20;
    color: rgb(118, 109, 255);
}
.info li a{
    font-size: 18px;
    padding-left: 30px;
    color: rgb(119, 119, 119);
}
.links {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 20px;
}
.links li {
    cursor: pointer;
    list-style: none;
    font-size: larger;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    color: rgb(119, 119, 119);
    background-color: #E8E8E8;
}
.links li:hover{
    color: azure;
    background: linear-gradient(90deg, rgb(118, 109, 255) 0%, rgb(136, 243, 255) 100%);
}