@media screen and (max-width: 800px) {
    .cont{
        flex-direction: column;
    }
	.second{
		margin: 3%;
	}
}
.img-cont{
	padding: 0%;
	width: 100%;
	height: 100%;
	margin: 4% 3%;
	align-self: center;
}

.cont {
    display: flex;
    margin: 0% 6%;
}

.img {
    width: 100%;
    height: 100%;
	border-radius: 1%;
}
.second {
	width: 100%;
	height: 100%;
	padding: 4% 0%;
    text-align: left;
	position: relative;
}

.second > *{
    margin-bottom: 5%;
}

.info li{
    cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
}
.info li *{
    width: 20;
    height: 20;
    color: teal;
}
.info li a{
    font-size: 18px;
    padding-left: 30px;
    color: rgb(119, 119, 119);
}
.links {
    display: flex;
    align-items: center;
	justify-content: space-evenly;
}
.links li {
    color: teal;
    cursor: pointer;
    list-style: none;
    margin-right: 15px;
	font-size: 1.5em;
}
.links li:hover{
	transition: all 0.3s ease-out;
}