.container-fluid{
	width: 86%;
	margin: 0 7%;
}
.mobile{
	width: 80%;
	margin: 0% 10%;
}
.close{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 30%;
	right: 5%; 
	top: 5%;
	background-color: #f0f8ff88;
}
.open{
	display: none;
}