
.mobile{
	width: 80%;
	margin: 0% 10%;
}
.close{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100vw;
	height: 100vh; 
	top: 5%;
	left: -0%;
	background-color: #555758b2;
}
.open{
	display: none;
}
.main {
    width: 86%;
	margin: 2% 7% 5%;
}

.appBar {
	z-index: 10;
	width: 100%;
	padding: 0% 7%;
    position: fixed;
    animation: navAnim 0.8s;
	background-color: black;

}
@keyframes navAnim {
	from {background-color: transparent;}
	to {background-color: black;}
}