@media  screen and (max-width: 800px) {
    .serviceCont{
        flex-direction: column;
    }
    .serviceItem{
        margin-bottom: 5%;
    }
}




.service{
    width: 100%;
	padding: 5%;
    text-align: center;
}

.serviceCont{
    width: 87%;
    padding: 5% 0;
    display: flex;
    margin-left: 6.5%;
	justify-content: space-evenly;
}
.round{
	top: 45%;
	left: 35%;
	width: 70vh;
	z-index: -10;
	height: 70vh;
	box-shadow: none;
	border-radius: 50%;
	position: absolute;
	background-color: aliceblue;
}
.serviceItem{
	overflow: hidden;
	text-align: left;
    /* margin-right: 5%; */
    padding: 50px 35px;
	position: relative;
    border-radius: 10px;
    transition: all 300ms linear 0s;
}
.serviceItem:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.serviceItem:hover .sIcon{
	color: rgb(118, 109, 255) 
}
.serviceItem:hover .round{
	top: 40%;
	left: 30%;
	transition: all 300ms linear 0s;
	
}
.sIcon{
	vertical-align: baseline;
}