@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
    } 
    .aboutInfo {
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 400px){
    .innerDiv{
		width: 100%;
        margin-bottom: 5%;
    }
	.skills > h2{
		text-align: left;
	}
}
.aboutCont{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
    display: flex;
    margin: 125px 5%;
	flex-direction: column;
}
.aboutInfo {
    text-align: center;
}
.innerDiv{
	margin: 3%;
	z-index: 1;
	overflow: hidden;
	min-height: 250px;
	position: relative;
	border-radius: 10px;
	transition: all 300ms ease-out;
}
.innerDiv > h1{
	margin-top: 20%;
	margin-bottom: 0;
	padding-top: 0%; 
}
.innerDiv > h5{
	margin-bottom: 10%;
}
.innerDiv > article{
	margin: 0;
	padding: 0%;
	z-index: -1;
	transition: all 300ms ease-out;

}
.round1{
	top: -10vh;
	left: -10vh;
	width: 22vh;
	height: 22vh;
	box-shadow: none;
	position: absolute;
	border-radius: 50%;
	background-color: aliceblue;
}
.round2{
	top: 20%;
	right: 7%;
	width: 18vh;
	height: 18vh;
	box-shadow: none;
	position: absolute;
	border-radius: 50%;
	background-color: aliceblue;
}
.round3{
	left: 30%;
	width: 7vh;
	bottom: 5%;
	height: 7vh;
	box-shadow: none;
	border-radius: 50%;
	position: absolute;
	background-color: aliceblue;
}

.innerDiv:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.innerDiv:hover .round1{
	width: 25vh;
	height: 25vh;
}
.innerDiv:hover .round2{
	width: 15vh;
	height: 15vh;
}
.innerDiv:hover .round3{
	width: 10vh;
	height: 10vh;
}
.icon{
	vertical-align: baseline;
}
.skills{
    width: 100%;
}
.skills > h2{
	margin-top: 5%;
	text-align: center;
}
.skills:hover .progres{
	animation: barAnim 4s;
}
.skill{
    margin: 10px 30px;
}
.progresBorder{
    padding: 5px;
    border-radius: 15px;
	background-color: rgb(232, 232, 232);;
    border: 1px solid rgb(238, 238, 238);
}
.progres{
    height: 16px;
    border-radius: 10px;
    background: rgb(232, 232, 232);
}
.progresBar{
    height: 16px;
    align-self: center;
    border-radius: 8px;
    vertical-align: middle;
    background: linear-gradient(90deg, rgb(118, 109, 255) 0%, rgb(136, 243, 255) 100%);
}
@keyframes barAnim {
	from{width: 0%;}
	to{width: 100%;}
	
}