@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
    } 
    .aboutInfo {
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 400px){
    /* .outerDiv{
        flex-direction: column;
        align-items: center;
    } */
    .innerDiv{
        margin-bottom: 5%;
        width: 70%;
    }
}
.aboutCont{
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    margin: 125px 0;
    background-color: #FFFFFF;
}
.aboutInfo {
    width: 100%;
    height: 100%;
    text-align: center;
}
.innerDiv{
    padding: 5px 10px;
    text-align: left;
    border-radius: 5px;
    transition: all 300ms linear 0s;
    border: 1px solid rgb(238, 238, 238);
}
.innerDiv:hover{
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
}
.icon{
    font-size: 20px;
    color: rgb(118, 109, 255);
}
.skills{
    width: 100%;
}
.skill{
    margin: 10px 30px;
}
.progresBorder{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 238);
}
.progres{
    height: 16px;
    border-radius: 10px;
    background: rgb(232, 232, 232);
}
.progresBar{
    height: 16px;
    border-radius: 8px;
    vertical-align: middle;
    align-self: center;
    background: linear-gradient(90deg, rgb(118, 109, 255) 0%, rgb(136, 243, 255) 100%);
}